{{ include("header.twig") }}

<body>

<header>
  {{ include("topNav.twig") }}
</header>


{{ include("sideNav.twig") }}

<section class="w3-main w3-padding-16" style="margin-left:260px;margin-right:10px">

{{ include("premade/index.html") }}
{{ include("premade/forms.html") }}

{{ include("footer.twig") }}

</section>

</body>

{{ include("javascript.html") }}
