{{ include("header.twig") }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<body>

<header>
  {{ include("topNav.twig") }}
</header>


{{ include("sideNav.twig") }}

<section class="w3-main w3-padding-16" style="margin-left:260px;margin-right:10px">



{{ include("premade/editorForms.html") }}

  <!-- Boxes -->

    <div class="w3-row-padding w3-center w3-margin-top">



          <div class="w3-quarter w3-hide">
            <div class="w3-card w3-container" style="min-height:300px">
        <p>This is just an empty box</p>

            </div>
          </div>

    <div class="w3-threequarter">


      <div class="w3-card w3-container" style="min-height:300px">
      <h3 class="w3w3-text-theme"><b>Pages</b></h3><br>
      <table class='w3-table '><tr class="w3-theme w3-text-white"><th>Description</th><th>Public?</th><th></th><th></th></tr>


        {% for item in waitingItems %}
        <tr><th>{{ item.info }}</th>
          <th>{{ item.approved }}</th>

              <th><a class="w3-button" href='/view?{{ item.key }}'>View</a></th>
              <th>
                {% if item.approved == "Yes" %}
                <button class="w3-button" onclick='recreate({{ item.key }})'>Copy</a>
                {% else %}
                <a class="w3-button" href='/user/edit?{{ item.key }}'>Edit</a>
                {% endif %}

              </th></tr>
        {% endfor %}
</table>
      </div>
    </div>




{{ include("footer.twig") }}

</section>

<script>
function recreate(key){

  $.post( "/sys/editor/copyPrivate.php", { page: key })
   .done(function( data ) {
     if(data == "Page can't be copied" || data == "You're not logged in"){ alert(data) }
     else{
       document.location.href = "/user/edit?"+data;
     }

   });

}
</script>

</body>

{{ include("javascript.html") }}
